.Wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  .Header {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    .FAQ span {
      color: white;
      cursor: pointer;
    }
    .Title {
      color: white;
      font-weight: bold;
      font-size: 2.2em;
    }
    .Bar {
      span {
        color: white;

        cursor: pointer;
      }
      span:last-child {
        margin-left: 15px;
      }
    }
  }
}
